<nav
  class="navbar navbar-expand-lg bg-light position-sticky z-1 top-0 custom-pills"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleDropdown()"
      aria-expanded="isDropdownOpen"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ show: isDropdownOpen }">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bolder">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            routerLink="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/app-completed"
            >Task-Completed</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/app-user"
            >User</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
